@font-face {
	font-family: 'ProximaNova';
	src: local('ProximaNova'),
      	url('ProximaNova-Regular.otf');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ProximaNova';
	src: local('ProximaNova'),
      	url('ProximaNova-Semibold.otf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('ProximaNova'),
      	url('ProximaNova-Light.otf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('ProximaNova'),
      	url('ProximaNova-Extrabold.otf');
	font-weight: bold;
	font-style: normal;
}
