<nav class="header--navigation">
  <div class="header--logo">
    <%= link_to root_path do %>
      <%= image_tag 'header-logo' %>
    <% end %>
  </div>

  <div class="header--navlinks">
    <span>
      Like what you see?
    </span>
    <button class="btn btn-warning hire-us-btn">Hire us</button>
  </div>
</nav>