.header {
  height: 100vh;

  .header--navigation {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid $main-darker;
    font-weight: 200;

    @media screen and (max-width: 537px) {
      align-items: flex-end;
    }

    .header--logo {
      margin-left: 25px;

      @media screen and (max-width: 537px) {
        margin-left: 0;
      }

      .logo img {
        width: 50px;

        @media screen and (max-width: 537px) {
          width: 60px;
        }
      }
    }

    .header--navlinks {
      margin-right: 25px;

      @media screen and (max-width: 537px) {
        text-align: right;
        margin-right: 0;
      }

      > * {
        margin: 0 12px;
      }

      .hire-us-btn {
        @extend %cta-btn;
      }
    }
  }

  .header--jumbotron {
    background-image:
      image-url('repeat.svg'),
      image-url('pencil.svg'),
      image-url('code.svg'),
      image-url('time.svg'),
      image-url('desktop.svg'),
      image-url('message.svg');
    background-size: 40px, 70px, 40px, 30px, 40px, 60px;
    background-position: 65% 15%, 76% 25%, 75% 55%, 65% 60%, 45% 61%, 25% 61%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 764px) {
      text-align: center;
    }

    @media screen and (max-height: 320px) {
      height: auto;
    }

    h1 {
      font-family: $mont;
      font-weight: 800;
      font-size: 65px;
      margin-left: -25%;
      margin-top: -50px;

      @media screen and (max-width: 960px) {
        font-size: 40px;
        margin-left: 0;
      }

      @media screen and (max-height: 320px) {
        margin-top: 5px;
      }

      .header--highlight {
        display: block;
        font-size: 85px;
        margin-top: 12px;
        margin-bottom: 25%;

        @media screen and (max-width: 764px) {
          font-size: 60px;
        }

        @media screen and (max-height: 320px) {
          margin-bottom: 3%;
        }
      }
    }

    .fa-angle-down {
      font-size: 30px;
      color: $secondary;
      font-weight: 200;
      cursor: pointer;
    }
  }
}

.why-us {
  border-top: 1px solid $main-darker;

  @extend %section-header-styles;
  .wow{
    font-size: 30px;
  }

  .row {
    margin: 0 25px;
    text-align: center;

    [class^="col-"] {
      border: 1px solid $main-darker;
      border-top: 0;
      padding-top: 70px;
      padding-bottom: 70px;

      @media screen and (max-width: 540px) {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      &:first-of-type, &:last-of-type {
        border-right: 0;
        border-left: 0;
      }

      header {
        font-family: $mont;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 25px;

        h3 {
          font-size: 30px;
        }

        .icon {
          width: 150px;
          height: 150px;
          max-width: 100%;
        }
      }

      p {
        font-size: 20px;
      }
    }
  }
}

.what-we-can-do {
  @extend %section-header-styles;
  background: transparentize($black, 0.8);
  text-align: center;

  .row {
    margin: 0 25px;

    [class^="col-"] {
      padding-top: 70px;
      padding-bottom: 25px;
      border: 1px solid $main-darker;
      border-top: 0;
      border-bottom: 0;

      @media screen and (max-width: 540px) {
        padding-top: 40px;
        padding-bottom: 5px;
      }

      &:nth-child(1), &:last-child {
        border-left: 0;
        border-right: 0;
      }

      &:nth-child(2) {
        border-right: 0;
      }
    }
  }

  .icon {
    width: 120px;
    height: 120px;
    max-width: 100%;
  }
}

.say-hello {
  padding: 45px;

  .say-hello-btn {
    @extend %cta-btn;
  }
}

.footer {
  background: transparentize($black, 0.8);
  padding: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media screen and (max-width: 540px) {
    flex-direction: column;
    align-items: center;
  }

  .footer--logo {
    img {
      width: 200px;
    }
  }

  .footer--social-icons {

    @media screen and (max-width: 540px) {
      flex-direction: column;
      margin-top: 15px;
    }

    .icon {
      color: $light-blue;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 18px;
      text-decoration: none;
    }
  }
}
