// Typography

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400|Montserrat:100,200,300,400,600,800');

$fira: "Fira Sans", sans-serif;
$mont: "Montserrat", sans-serif;

// Colors

$main: #372060;
$main-darker: #291847;
$secondary: #fff100;
$black: #190e21;
$light-blue: #00c4ff;
$light-green: #00ff89;
$white: #fff;